<form #loginForm="ngForm" (ngSubmit)="login()" class="login">
  <div class="left-panel">
    <div class="titleCard">
      <img src="assets/meetup.jpg" alt="meetup">
      <h3>Place for tech meetups</h3>
    </div>
  </div>

  <div class="right-panel">
    <div class="card p-4 shadow" style="min-width: 320px;">
      <h4 class="text-center mb-3">Login</h4>

      <!-- Username -->
      <div class="form-group mb-3">
        <label>Username</label>
        <input
          name="username"
          [(ngModel)]="username"
          required
          minlength="3"
          #usernameRef="ngModel"
          class="form-control"
          placeholder="Enter username"
        />
        <div *ngIf="usernameRef.invalid && usernameRef.touched" class="text-danger">
          <small *ngIf="usernameRef.errors?.['required']">Username is required</small>
          <small *ngIf="usernameRef.errors?.['minlength']">Minimum 3 characters required</small>
        </div>
      </div>

      <!-- Password -->
      <div class="form-group mb-3">
        <label>Password</label>
        <input
          type="password"
          name="password"
          [(ngModel)]="password"
          required
          minlength="6"
          #passwordRef="ngModel"
          class="form-control"
          placeholder="Enter password"
        />
        <div *ngIf="passwordRef.invalid && passwordRef.touched" class="text-danger">
          <small *ngIf="passwordRef.errors?.['required']">Password is required</small>
          <small *ngIf="passwordRef.errors?.['minlength']">Minimum 6 characters required</small>
        </div>
      </div>

      <button type="submit" class="btn w-100 ">
        Login
      </button>

      <div class="text-center mt-3">
        <a routerLink="/register">New user? Register</a>
      </div>
    </div>
  </div>
</form>
