<div class="dashboard-container">
  <!-- F I L T E R S  -->
  <div class="filter-panel">
    <!-- S E A R CH   B O X-->
<input
  [value]="searchTerm()"
  (input)="searchTerm.set($any($event.target).value)"
  placeholder="Search by name, gender, role, or state"
  class="form-control mb-3"
/>

    <h4>Filter By Gender</h4>
    <div *ngFor="let gender of availableGenders">
      <input
        type="checkbox"
        [checked]="selectedGenders().has(gender)"
        (change)="toggleSelection(selectedGenders, gender)"
      />
      {{ gender }}
    </div>

    <h4 class="mt-3">Filter By Role</h4>
    <div *ngFor="let role of availableRoles">
      <input
        type="checkbox"
        [checked]="selectedRoles().has(role)"
        (change)="toggleSelection(selectedRoles, role)"
      />
      {{ role }}
    </div>
  </div>

  <!-- U S E R S ----- Graphica representation -->
  <div class="content-panel">
    <div style="width: 400px; height: 400px; margin-bottom: 20px;">
      <canvas
        baseChart
        [data]="pieChartData"
        [type]="pieChartType"
        [labels]="pieChartLabels"
      ></canvas>
    </div>

    <table border="1" class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Gender</th>
          <th>Role</th>
          <th>State</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of filteredUsers()">
          <td>{{ user.firstName }} {{ user.lastName }}</td>
          <td>{{ user.gender }}</td>
          <td>{{ user.role }}</td>
          <td>{{ user.address.state }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
