<div class="event-details container mt-4" *ngIf="event">

  <div class="header">
    <h2>{{ event.title }}</h2>
    <!-- <div *ngIf="event.imagePath"> -->
    <img [src]="'http://localhost:5025/' + event.imagePath" class=" banner img-fluid mb-3" />
    <!-- </div> -->
  </div>

  <div class="details">
    <h2>Description</h2>
    <p>{{ event.description }}</p>
    <p><strong>Location:</strong> {{ event.location }}</p>
    <p><strong>Organizer:</strong> {{ event.organizerName }}</p>
    <p><strong>Start:</strong> {{ event.startTime | date:'medium' }}</p>
    <p><strong>End:</strong> {{ event.endTime | date:'medium' }}</p>

    <a *ngIf="event.googleMapLink" [href]="event.googleMapLink" target="_blank">📍 Google Map</a><br />
    <a *ngIf="event.onlineMeetUrl" [href]="event.onlineMeetUrl" target="_blank">🔗 Online Meet</a>
    <p><strong>Total Registrations:</strong> {{ registrationCount }}</p>

    <div *ngIf="!isOrganizer && !isRegistered" class="mt-3">
      <button class="btn btn-success" (click)="register()">Register for this Event</button>
    </div>
    <div class="controls">
      <div *ngIf="isRegistered" class="alert alert-info mt-3">
        ✅ You have registered for this event.
      </div>
      <button *ngIf="registrationId" class="btn btn-danger mt-3" (click)="cancelRegistration()">
        Cancel Registration
      </button>
    </div>
  </div>


</div>