@import url('bootstrap-icons/font/bootstrap-icons.css');
@import url('bootstrap/dist/css/bootstrap.css');
*{
    text-align: center;
    align-items: center;
    justify-content: center;
}
body{
    margin: 0;
    padding: 0;
}