*,.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    padding: 40px; 
    background: #f1f1f1;
}
nav a{
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    font-size: 20px;
    color: chocolate;
}
.container{
    height: 95vh;
    background-color: rgb(198, 219, 237);
}