<!-- <h2>Your Current Coins: {{ user?.coins }}</h2>

<input type="number" [(ngModel)]="amount" placeholder="Enter amount in ₹" />
<p>You’ll get {{ amount }} coins.</p>

<button (click)="payAndAddCoins()">Pay and Add Coins</button> -->

<!-- <div class="container">
  <h2>Add Coins</h2>
  <p>Current Coins: {{ coins }}</p>

  <input type="number" [(ngModel)]="amount" placeholder="Enter amount" />
  <button (click)="payAndAddCoins()">Add Coins</button>
</div> -->

<div class="container py-5 my-5">
  <div class="text-center mb-4">
    <h2>Wallet</h2>

    <!-- Coin count with large icon -->
    <div class="d-flex justify-content-center align-items-center my-3">
      <i class="bi bi-coin display-4 text-warning me-3"></i>
      <h1 class="display-4">{{ coins }}</h1>
    </div>

    @if (auth.currentUser.role == "Attendee") {
    <div class="alert info w-50 mx-auto">
      <p class="mb-0">
        You get <strong>1 coin</strong> for every <strong>1 rupee</strong> you
        top up.
      </p>
    </div>
    }
  </div>

  @if (auth.currentUser.role == "Attendee") {
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="input-group mb-3">
        <input
          type="number"
          [(ngModel)]="amount"
          class="form-control"
          placeholder="Enter amount in ₹"
        />
        <button class="btn btn-primary" (click)="payAndAddCoins()">
          Add Coins
        </button>
      </div>
    </div>
  </div>
  } @if (auth.currentUser.role == "Attendee") {
  <div class="row">
    <div class="col">
      <h4 class="mb-3">Transaction History</h4>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead class="header">
            <tr class="">
              <th scope="col">Reference ID</th>
              <th scope="col">Date</th>
              <th scope="col">Type</th>
              <th scope="col">Amount (₹)</th>
            </tr>
          </thead>
          <tbody>
            @for (transaction of transactions; track $index) {
            <tr
              [class]="{
              'table-success': transaction.type == 'Topup',
              'table-danger' : transaction.type == 'Registration',
              'table-warning': transaction.type == 'Refund'
            }"
            >
              <td>{{ transaction.id }}</td>
              <td>{{ transaction.date | date: 'medium'}}</td>
              <td>{{ transaction.type }}</td>
              <td>{{ transaction.amount }}</td>
            </tr>
            } @if (transactions.length === 0) {
            <tr>
              <td colspan="3" class="text-center text-muted">
                No transactions found.
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
  } @else {
  <div class="row">
    <div class="col">
      <h4 class="mb-3">
        Withdraw (Amount can be withdrawn only after 5 days from the end of the
        event)
      </h4>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead class="table-dark">
            <tr>
              <th scope="col">Event Name</th>
              <th scope="col">End Time</th>
              <th scope="col">Total Registrations</th>
              <th scope="col">Amount</th>
              <th scope="col">Withdraw</th>
            </tr>
          </thead>
          <tbody>
            @for (event of events; track $index) {
            <tr>
              <td>{{ event.title }}</td>
              <td>{{ event.endTime | date: 'medium' }}</td>
              <td>{{ event.totalRegistrations }}</td>
              <td>
                <i class="bi bi-coin text-warning me-1"></i> {{
                event.registeredCoins }}
              </td>
              <td>
                @if (event.isWithdrawn) {
                <span class="badge bg-success py-2">Withdrawn</span>
                } @else {
                <button
                  class="btn btn-primary btn-sm"
                  (click)="onWithdraw($index)"
                  [disabled]="canWithdraw(event.endTime)"
                >
                  Withdraw
                </button>
                }
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>

  }
</div>
